<% content_for :title, "Editing documento" %>

<h1>Editar Documento</h1>

<%= render "form", documento: @documento %>

<br>

<div>
  <%= link_to "Mostrar documento", @documento %> |
  <%= link_to "Voltar para documentos", documentos_path %>
</div>
